body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:#d11473;
}

a {
    text-decoration: none;
}
#bg-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box-login{
    width: 300px;
    min-height: 200px;
    border: 1px solid #b17d0d;
    background-color:#0dd32e;
    padding: 15px;
    box-sizing: border-box;
}
.box-login h2{
    text-align: center;
    margin-bottom: 15px;
}
.btn-login{
    padding: 8px 15px;
    background-color:#797399;
    color: #c1d411;
    border: none;
    cursor: pointer;
}
.btn-login:hover {
    background-color:#e60e9e;
}
.input-control{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.input-data{
    width: 80%;
    box-sizing: border-box;
}
aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#0dc50d;
}

header {
    text-align: center;
    padding: 20px 0;
}

.brand {
    width: 80px;
}

.user {
    font-weight: bold;
    padding-top: 10px;
}

main {
    margin-left: 210px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    display: block;
    color: #000000;
}

nav a:hover {
    background-color:#0abebe;
}

nav .icon {
    width: 25px;
    float: left;
    padding-right: 10px;
}

.info {
    background-color: #17b808;
    padding: 20px;
    margin-top: 10px;
}
table {
    margin: 15px 0;
    border: 1px solid #3ec708c5;
    border-collapse: collapse;
    width: 75%;
}

table th {
    border: 1px solid #7f0a83;
    padding: 8px;
    background-color: #0ace1a;
}

table tr td {
    border: 1px solid #3fb10a;
    padding: 8px;
    text-align: center;
    background-color: #0f6ead;
}

.btn {
    background-color: #0d6ca3;
    border-radius: 4px;
    color: #0d89a8;
    padding: 5px;
}

.btn:hover {
    background-color: #820a92;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0 20px 10px;
    background-color: #cf0f9f;
    width: 100%;
    border-top: 1px solid #42053d;
}